.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(51, 51, 51, 0.1); /* 使用 rgba() 函數設置背景顏色及透明度 */
    width: auto; /* 使用 auto 設置寬度 */
    height: auto; /* 使用 auto 設置高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    color: rgb(46, 44, 44);
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .sidebar-nav a:hover {
    background-color: #555;
  }
  
  .sidebar-nav .active {
    background-color: #555;
  }
  