/*<button class="button-85" role="button">Button 85</button>*/

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/*button*/
.button {
  height: 50px;
  width: 180px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 25px;
  animation: animate 1.5s linear infinite;
  border: none;
  cursor: pointer;
}

.button, .display, #msg {
  transition: 0.3s;
}

.button:active .display {
  background: rgba(255, 255, 255, 0.5);
}

.button:active .display #msg {
  -webkit-text-fill-color: #1b1b1b;
}

.button:hover {
  scale: 1.15;
  animation: animate 0.7s linear infinite;
  transform: translateY(-15px);
}

.button .display, .button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button .display {
  z-index: 1;
  background-color: #1b1b1b;
  height: 42.5px;
  width: 172.5px;
  border-radius: 20px;
  text-align: center;
}

.button .display #msg {
  line-height: 42.5px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.button span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 25px;
}

.button span:first-child {
  filter: blur(15px);
}

.button span:last-child {
  filter: blur(15px);
  transition: 0.3s;
}

.button:hover span:last-child {
  width: 110%;
  height: 120%;
}